.is-layout-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
}

.is-nowrap {
	flex-wrap: nowrap;
}

.is-vertical {
	flex-direction: column;
}
.is-horizontal {
	flex-direction: row;
}

.is-content-justification-left {
	justify-content: flex-start;
}

.is-content-justification-center {
	justify-content: center;
}

.is-content-justification-right {
	justify-content: flex-end;
}

.is-content-justification-space-between {
	justify-content: space-between;
}

.btn,
.wp-element-button {
	--btn__fill: var(--color-primary-500);
	--btn__fill--hover: var(--color-primary-600);

	--btn__text: var(--color-surface-0);
	--btn__text--hover: var(--color-surface-0);

	position: relative;
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem !important;
	gap: 1.5rem;
	width: fit-content;
	text-decoration: none !important;
	font-weight: 500 !important;
	color: var(--btn__text) !important;
	background-color: var(--btn__fill) !important;
	cursor: pointer;
	outline: 0px solid transparent;
	outline-offset: 0px;
	transition: outline 200ms ease, outline-offset 200ms ease,
		border-top-color 200ms ease, color 200ms ease, background-color 200ms ease,
		box-shadow 200ms ease;
}

.btn > svg,
.wp-element-button > svg {
	width: 1rem;
	height: 1rem;
	fill: currentColor;
}

.prose .btn,
.prose .wp-element-button {
	padding-bottom: 0px !important;
}

.prose p + .btn,
.prose p + .wp-element-button {
	margin-top: 2rem;
}

.btn:hover,
.btn:focus,
.wp-element-button:hover,
.wp-element-button:focus {
	color: var(--btn__text--hover) !important;
	background-color: var(--btn__fill--hover) !important;
}

.btn:focus,
.wp-element-button:focus {
	outline: 1px solid var(--btn__fill);
	outline-offset: 0.5rem;
}

.wp-block-button__width-100 {
	width: 100%;
}

.btn--wide,
.wp-block-button__width-100 .wp-element-button {
	width: 100%;
	justify-content: space-between;
}
